[submodule "SublimeAStyleFormatter"]
	path = SublimeAStyleFormatter
	url = https://github.com/timonwong/SublimeAStyleFormatter.git
[submodule "CoffeeScript-Sublime-Plugin"]
	path = CoffeeScript-Sublime-Plugin
	url = https://github.com/Xavura/CoffeeScript-Sublime-Plugin.git
[submodule "TrailingSpaces"]
	path = TrailingSpaces
	url = https://github.com/SublimeText/TrailingSpaces.git
[submodule "C Improved"]
	path = C Improved
	url = https://github.com/abusalimov/SublimeCImproved.git
[submodule "SublimeGDB"]
	path = SublimeGDB
	url = https://github.com/quarnster/SublimeGDB.git
[submodule "Vintageous"]
	path = Vintageous
	url = https://github.com/guillermooo/Vintageous.git
[submodule "SublimeAllAutocomplete"]
	path = SublimeAllAutocomplete
	url = https://github.com/alienhard/SublimeAllAutocomplete
[submodule "CoffeeScript"]
	path = CoffeeScript
	url = git://github.com/jashkenas/coffee-script-tmbundle
[submodule "sublime-better-coffeescript"]
	path = sublime-better-coffeescript
	url = https://github.com/aponxi/sublime-better-coffeescript.git
[submodule "CTags"]
	path = CTags
	url = https://github.com/SublimeText/CTags.git
[submodule "sublime-filterlines"]
	path = sublime-filterlines
	url = https://github.com/joedrago/sublime-filterlines.git
